@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './tailwind/index.css';
@import './components/index.css';
@import './template/index.css';
@import './others/index.css';
@import './vendors/index.css';

/* Custom Kook Font */
@font-face {
  font-family: 'Kook';
  src: url('/fonts/kook/Kook-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Set Kook as default font for the entire application */
body {
  font-family: 'Kook', sans-serif;
}
